@font-face {
    font-family: 'MapoFlowerIsland';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoFlowerIsland.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoFlowerIsland.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoFlowerIsland.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoFlowerIsland.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoFlowerIsland.ttf') format("truetype");
    font-display: swap;
}