@font-face {
    font-family: 'MapoHongdaeFreedom';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoHongdaeFreedom.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoHongdaeFreedom.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoHongdaeFreedom.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoHongdaeFreedom.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoHongdaeFreedom.ttf') format("truetype");
    font-display: swap;
}