@font-face {
    font-family: 'MapoBackpacking';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoBackpacking.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoBackpacking.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoBackpacking.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoBackpacking.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoBackpacking.ttf') format("truetype");
    font-display: swap;
}