@font-face {
    font-family: 'MapoAgape';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.ttf') format("truetype");
    font-display: swap;
}